<div class="login-container">
  <div class="login-content">
    <div class="logo">
      group<span>lytics</span>.me
    </div>

    <!-- TODO: fix tagline typing text -->
    <!-- <section class="cd-intro">
      <h1 class="cd-headline letters type">
        <span>Analyzing</span>
        <span class="cd-words-wrapper waiting">
          <b class="is-visible">the world</b>
          <b>sushi</b>
          <b>steak</b>
        </span>
      </h1>
    </section> -->
    <button class="login btn btn-default" href="#" onclick="location.href='https://oauth.groupme.com/oauth/login_dialog?client_id=CLIENT_ID';">Login via GroupMe</button>
    <!-- <p>
    login works!
    </p> -->
    <div class="about-privacy-policy">
      <a href="#">about</a> | <a href="#">privacy policy</a>
    </div>
  </div>
</div>
