<div class="login-container">
  <div class="login-content">
    <div class="logo">
      group<span>lytics</span>.me
    </div>

    <p class="tagline">
      Analyze <b class="typewrite" data-period="2000" data-type='[
        "your GroupMe.",
        "your friends.",
        "conversations."]'>
        <span class="wrap"></span>
      </b>
    </p>

    <button class="login btn btn-default" href="#" onclick="location.href='https://oauth.groupme.com/oauth/login_dialog?client_id=CLIENT_ID';">Login via GroupMe</button>
    <!-- <p>
    login works!
    </p> -->
    <div class="about-privacy-policy">
      <a href="#">about</a> | <a href="#">privacy policy</a>
    </div>
  </div>
</div>
