<!-- html for individual group checkbox -->
<div class="checkbox">
  <label><input type="checkbox" value="">ROW OF FRIENDSHIP</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="">ROW OF FRIENDSHIP</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="">ROW OF FRIENDSHIP</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="">ROW OF FRIENDSHIP</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="">ROW OF FRIENDSHIP</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="">ROW OF FRIENDSHIP</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="">ROW OF FRIENDSHIP</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="">ROW OF FRIENDSHIP</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="">ROW OF FRIENDSHIP</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="">ROW OF FRIENDSHIP</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="">ROW OF FRIENDSHIP</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="">ROW OF FRIENDSHIP</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="">ROW OF FRIENDSHIP</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="">ROW OF FRIENDSHIP</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="">ROW OF FRIENDSHIP</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="">ROW OF FRIENDSHIP</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="">ROW OF FRIENDSHIP</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="">ROW OF FRIENDSHIP</label>
</div>
