<!doctype html>
<html ng-app>
  <head>
    <title>Grouplytics</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="./appModule.js"></script>
    <script src="./appController.js"></script>
    <script src="./appFactory.js"></script>
  </head>
  <body ng-app="Grouplytics">
  	<div ng-controller="appController">
  		<form ng-submit="saveCredentials()">
  			<label>Access Token:</label>
  			<input name="" ng-model="credentials.access_token" required>
  			<label>Nickname:</label>
  			<input name="" ng-model="credentials.nickname" required>
  			<label>Display Name:</label>
  			<input name="" ng-model="credentials.display_name" required>
  			<label>Group Name:</label>
  			<input name="" ng-model="credentials.group_name" required>
  		</form>
  	</div>
  </body>
</html>