<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Grouplytics</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/login.css')}}">
</head>

<body>
<div class="login-container">
  <div class="login-content">
    <div class="logo">
      group<span>lytics</span>.me
    </div>

    <p class="tagline">
      Analyze <b class="typewrite" data-period="2000" data-type='[
        "your GroupMe.",
        "your friends.",
        "conversations."]'>
        <span class="wrap"></span>
      </b>
    </p>

    <button class="login btn btn-default" href="#" onclick="location.href='https://oauth.groupme.com/oauth/login_dialog?client_id=zXtYYtr4hqXT4oXoQ4jLgEFHKQYaEl8dc9WjbUBEXH3Mi0pC';">Login via GroupMe</button>

    <div class="about-privacy-policy">
      <a href="#">about</a> | <a href="#">privacy policy</a>
    </div>
  </div>
</div>

  <script src="{{url_for('static', filename='js/typing_tagline.js')}}"></script>
</html>

